.popup{
    width: 250px;
    height: 250px;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
}
.formDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: fit-content;
    text-align: center;
}